---
---

@import "{{ site.theme }}";

body {
  font-family: "Segoe UI", "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  background: #FFFFFF;
  color: #000000;
}

table {
  border-collapse: collapse;
}

th {
  border: 2px solid orange;
   background-color: dimgray;
}

td {
  border: 1px solid orange;
}

td:nth-child(1) {  
  border: 2px solid orange;
  font-weight: bold
}

header {
  border-bottom: 1px dashed #669114;
}

header h1 {
  color: #669114;
}

h1, h2, h3, h4, h5, h6 {
  color: #669114;
}

a {
  color: #132935;
}

.btn {
  background:#DCDCDC;
  color: #111;
  text-shadow: 0 -1px 0 rgba(110, 110, 110, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.4), rgba(35,35,35,0.4) 50%, rgba(10,10,10,0.4) 50%, rgba(0,0,0,0.4));
}

code.highlighter-rouge { 
  background:#DCDCDC;
  color: #000000
}

.highlight { 
  background:#DCDCDC;
  color: #000000
}

ul li { list-style-image: url("../images/bullet_light.png"); }